.profile__container {
    width: 120px;
    height: 120px;
    margin-top: 3.75px;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
    position:relative;
    display: inline-block;
  }
  
.profile__container:hover .profile__overlay {
    opacity: 1;
    transition: 1s;
}
