.profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 661px) {
    .profile__info {
      width: 100%;
      flex-direction: column;
    }
  }