.popup__save-button {
    width: 358px;
    height: 50px;
    margin: 18px 0px 37px 0px;
    padding: 0;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    border: 1px solid #000000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/       
@media screen and (max-width: 978px) {
    .popup__save-button {
        width: 288px;
    }
    
}

/*Расширение от 320px до 768px*/
@media screen and (max-width: 661px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        margin: 15px 0px 25px 0px;
        font-size: 14px;
        line-height: 17px;
    }    
}

.popup__save-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}