.popup__save-button {
    width: 358px;
    height: 50px;
    margin: 18px 0px 37px 0px;
    padding: 0;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    border: 1px solid #000000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
}

.popup__save-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}