.page {
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}