.popup__close-button {
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    top: -40px;
    left: 440px;
    background: url(../../../images/logo/close_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}