.login__input {
    max-width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    box-sizing: border-box;
    outline: none;
    background-color: #000000;
    color: #CCCCCC;
}

.login__input:last-of-type {
	margin-bottom: 0px;
}