.popup__img-title {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #fff;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/
        
/*Расширение от 320px до 768px*/
