.profile {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  @media screen and (max-width: 973px) {
    .profile {
      max-width: 720px;
    }
  }
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 661px) {
    .profile {
      width: 88.13%;
      max-width: 282px;
      margin-bottom: 36px;
      flex-direction: column;
      align-items: center;
    }
  }