.profile__field {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
  }
  
  /*Расширение от 1024px до 1280px*/
  
  /*Расширение от 768px до 1024px*/
  
  /*Расширение от 320px до 768px*/
  @media screen and (max-width: 661px) {
    .profile__field {
        width: 100%;
        max-width: 282px;
        margin: 0 auto;
        justify-content: space-between;
    }
  }