.popup__input {
    max-width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    outline: none;
}

