.popup__field {
    width: 83.26%;
    max-width: 358px;
    margin: 0px auto;
    /*margin-bottom: 30px;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: none;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/
        
/*Расширение от 320px до 768px*/
@media screen and (max-width: 661px) {
    .popup__field {
        width: 84.4%;
        max-width: 238px;
    }
}

/*.popup__field:last-of-type {
    margin-bottom: 0;
}*/


